/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sticky Header */
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #4CAF50;
    color: white;
}

/* Hero Section */
#hero {
    background-color: #f0f0f0;
    padding: 80px 20px; /* Increased padding for better visibility */
    text-align: center;
}

#hero .hero-content h2 {
    margin: 0;
}

/* Content Section */
#content-section {
    padding: 20px;
    max-width: 50%;
    overflow-y: auto;
    height: calc(80vh - 100px); /* Adjust height with header height */
}

#content-section h2 {
    margin-bottom: 20px;
}

/* Form Styling */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select {
    width: 50%;
    padding: 10px;
    margin: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

form button:hover {
    background-color: #45a049;
}


/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

#alertMessage {
    margin-top: 10px;
    font-weight: bold;
}
